
{% extends "base.html" %}


{% block content %}

<div class="card">
  <div class="card-body">
    <form action="{{ url_for('createGroup') }}" method = "post">
      <div class="form-group">
        Group Name
        <input class="form-control-sm card-title" type="text" name="title"
        placeholder="Title" required><br>
      </div>
      <div class="form-group">
        Description
        <input class="form-control-sm" type="text" name="description" placeholder="Description" required><br>
      </div>
      <div class="form-check">
        Check the box if this is a private group:
        <label class="form-check-label" name = "private">Private</label>
      </div><br><br>
      <button class="btn btn-primary" type="submit">Create Group</button>
    </form>
  </div>
</div>

{% endblock content %}
