{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
  <div class="row">
    <div class="col-sm">
    <h2>Requests to join my groups:</h2>
    </div>
  </div>
    {% for group in groups %}
      {% if group.requesters|length > 0 %}
          <div class = "row">
            <div class="col-sm">
              <h5>{{group.name}}:</h5>
            </div>
          </div>
            {% for requester in group.requesters %}
                <div class = "row">
                  <div class="col-sm">
                  <div class="card">
                      <div class="card-body">
                          <h6 class="card-title">{{requester.name}}
                            <form action="{{ url_for('accept', group_id = group.id, requester_id = request.requester_id) }}">
                                <button type="submit" class="btn btn-outline-primary float-right">
                                    Accept
                                </button>
                                <input type="hidden" name="originalPage" value="day">
                            </form>
                            <form action="{{ url_for('deny', group_id = group.id, requester_id = request.requester_id) }}">
                                <button type="submit" class="btn btn-outline-primary float-right">
                                    Decline
                                </button>
                                <input type="hidden" name="originalPage" value="day">
                            </form>
                          </h6>
                      </div>
                  </div>
                </div>
              </div>
        {% endfor %}
      {% endif %}
  {% endfor %}
  <div class="row">
    <div class="col-sm">
      <br>
    <h2>My requests join groups:</h2>
    </div>
  </div>
  {% for request in requests %}
      <div class = "row">
        <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{request.name}}
                  <button class="btn btn-outline-primary float-right" disabled>Pending</button>
                </h5>
            </div>
        </div>
      </div>
    </div>
{% endfor %}

{% endif %}
{% endblock %}
