{% extends "base.html" %}

{% from "macros/render_field.html" import form_field %}

{% block style %}
<style>
    .btn-static {
        background-color: white;
        border: 1px solid lightgrey;
        cursor: default;
      }
    .btn-static:active {
        -moz-box-shadow:    inset 0 0 0px white;
        -webkit-box-shadow: inset 0 0 0px white;
        box-shadow:         inset 0 0 0px white;
      }
</style>

{% endblock style %}


{% block content %}
<div class="title">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
        <h1>Search for groups!</h1>
      <div class="col-sm"></div>
        <br><!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
          Create Group
        </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Create Group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <form action="{{ url_for('createGroup') }}" method = "post">
                        <div class="form-group">
                            Group Name
                            <input class="form-control-sm card-title" type="text" name="name"
                                   placeholder="Software Development" required><br>
                        </div>
                        <div class="form-group">
                            Description
                            <input class="form-control-sm" type="text" name="description" placeholder="A Senior CS Class in Stuy" required><br><br>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" name = "private" class="form-check-input">Private
                        </div><br>
                        <button class="btn btn-primary" type="submit">Create Group</button>
                        <!-- <div class="form-group">
                          Private? (Type Y or N)
                          <input class="form-control-sm" type="text" name="private" placeholder="Description" required><br>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>




<hr>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <form method="POST">
            {{ form.csrf_token }}

            {{ form_field(form.search) }}
            {{ form_field(form.submit) }}
        </form>
      </div>
  </div>
  {% if results is not none %}

    <div class="row">
      <div class="col-sm">
          <p>Search results for: {{ query }}</p>
      </div>
    </div>

    {% for group in results %}
      <div class="row">
        <div class = "col-sm">
          <div class="card">
              <div class="card-body">
                  {% if group is not none %}
                    {{group.name}}
                    {% if group in current_user.groups %}
                      <button class="btn btn-outline-primary float-right" disabled>Joined</button>
                    {% elif group in current_user.requests %}
                      <button class="btn btn-outline-primary float-right" disabled>Pending Request</button>
                    {% elif group.private %}
                      <form action="{{ url_for('createrequest',group_id = group.id) }}" method = "post">
                        <button class="btn btn-primary float-right" type="submit">Request to Join</button>
                      </form>
                    {% else %}
                      <form action="{{ url_for('joinGroup',group_id = group.id) }}" method = "post">
                        <button class="btn btn-primary float-right" type="submit">Join</button>
                      </form>
                    {% endif %}
                  {% endif %}
              </div>
          </div>
        </div>
      </div><br>
    {% endfor %}

    {% if results == [] %}
    <br><br><br>
    <p class="text-center"><em>No groups found!</em></p>
    {% endif %}

  {% endif %}

</div>


{% endblock %}
